body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: calc(18px + 22 * ((100vw - 320px) / 960));
}

* {
  -webkit-tap-highlight-color: transparent;
}

p::-webkit-scrollbar {
  width: 0;
}

.theme-white.active {
    background: black;
  /* color: white; */
}

.theme-dark.active {
    background: white;
  /* color: black; */
}

.theme-white {
  background: white;
  color: black;
}

.theme-dark {
  background: black;
  color: white;
}

#theme, #traning, #zoom {
  position: absolute;
  width: 100%;
  border: 0;
  outline: none;
  padding: 50px;
  cursor: pointer;
  font-size: calc(18px + 22 * ((100vw - 320px) / 960));
  background: #eee;
  border: 1px solid #000;
}

#theme, #zoom {
  top: 0;
  width: 50%;
}

#theme {
  left: 0;
}

#zoom {
  right: 0;
}

#traning {
  bottom: 0;
  left: 0;
}

#theme:hover, #traning:hover, #zoom:hover {
  background: #eee;
}

p {
  display: block;
  margin: auto;
  padding: 10px 20px;
  max-width: 1400px;
  max-height: 80vh;
  overflow-y: scroll;
}

.description {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eee;
  padding: 20px;
}

@media (max-width: 980px) {
  .description {
    display: none;
  }

  p {
    padding: 0 5px;
  }
}
