body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

p {
  margin: 150px auto 0;
  max-width: 1400px;
  font-size: calc(18px + 22 * ((100vw - 320px) / 960));
}

.theme-white.active {
    background: black;
/*   color: white; */
}

.theme-dark.active {
    background: white;
/*   color: black; */
}

.theme-white {
  background: white;
  color: black;
}

.theme-dark {
  background: black;
  color: white;
}

#theme {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  padding: 20px;
  cursor: pointer;
}
